postmortem/*
!postmortem/main.tex
!postmortem/main.pdf
!postmortem/images
!postmortem/source

*.DS_Store

# Other teams bots added after tournament
java/src/_*

###### BATTLECODE ######

**/matches
**/client

client_version.txt
engine_version.txt